{% extends 'store/main.html' %} 

{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Shopping Cart</h5>
        <div class="card-body">
          <div>
            <h5 class="card-title">Items : {{order.get_cart_items}}</h5>
            <h5 class="card-title">Total : {{order.get_cart_total}}</h5>
          </div>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Total</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <th scope="row">1</th>
                  <td>{{item.product.name}}</td>
                  <td>
                      <div class="quantity">
                        <i data-product={{ item.product.id }} data-action="add" class="uil uil-plus change-quantity update-cart"></i> 
                        {{item.quantity}} 
                        <i data-product={{ item.product.id }} data-action="remove"class="uil uil-minus change-quantity update-cart"></i>
                      </div>
                  </td>
                  <td>{{item.product.price}}</td>
                  <td>{{item.get_total}}</td>
                  <td><i class="uil uil-trash-alt"></i></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div>
            <a href="{% url 'cart' %}" class="btn btn-dark">Continue Shopping</a>
            <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

{% endblock content %}
