{% extends 'store/main.html' %}
 {% load crispy_forms_tags %} 
 {% block content %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Checkout</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  {% if user.is_authenticated == False %}

                  <div class="mb-2">
                    <form action="" method="POST" id="customer-form">
                      {% csrf_token %}
                      {{customer_form|crispy}}
                      <button
                        type="submit"
                        class="btn btn-primary"
                      >
                        Save
                      </button>
                    </form>
                  </div>
                  
                  <button
                        type="submit"
                        class="btn btn-secondary"
                        id="continue"
                      >
                        Continue
                  </button>
                  {% endif %}
                  
                  {% if order.shipping == False %} 
				          Digital Items 
                  {% else %}
                  <div id="form" style="visibility: hidden;">
                    <h5 class="card-title">Shipping Address</h5>
                    <form action="#" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button
                      type="submit"
                      class="btn btn-primary"
                      id="form-button"
                    >
                      Make Payment
                    </button>
                  </form>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Order Summary</h5>
                  <div>
                    <ul>
                      {% for item in items %}
                      <li>Product: {{item.product.name}}</li>
                      <li>Quantity: {{item.quantity}}</li>
                      <li>Price: {{item.product.price}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                  <h5>Items: {{order.get_cart_items}}</h5>
                  <h5>Total: {{order.get_cart_total}}</h5>
                  <a href="{% url 'cart' %}" class="btn btn-primary"
                    >Back to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
		  <div class="row mt-4" hidden>
			<small>Make Payment</small> 
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/showForm.js' %}"></script>

{% endblock content %}
