{% extends 'store/main.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col">
        <div class="card">
      <h5 class="card-header">Checkout</h5>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Shipping Address</h5>
                <form action="" method="POST">
                  {% csrf_token %}
                  {{form.as_p}}
                </form>
                {% comment %} <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p> {% endcomment %}
                <a href="#" class="btn btn-primary">Continue</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Order Summary</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}
