<!DOCTYPE html>

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>E-Commerce {% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Unicons -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href={% static 'css/main.css' %}>
    </head>
    <body>

        <header class="header" id="header">
      <nav class="nav container">
        <a href="{% url 'store' %}" class="nav__logo">E-Commerce Store</a>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list grid">
            <li class="nav__item">
              <a href="{% url 'store' %}" class="nav__link">
                <i class="uil uil-store-alt nav__icon"></i> Store
              </a>
            </li>
            <li class="nav__item">
              <a href="{% url 'products' %}" class="nav__link">
                <i class="uil uil-shopping-basket nav__icon"></i> Products
              </a>
            </li>
            <li class="nav__item">
              <a href="{% url 'cart' %}" class="nav__link">
                <i class="uil uil-shopping-cart nav__icon"></i> Cart
              </a>
            </li>
             
            {% if user.is_authenticated %}
            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class="uil uil-user nav__icon"></i> Account Settings</a>
            </li class="nav__item">
            <li class="nav__item">
                <a href="{% url 'account_logout' %}" class="nav__link">
                    <i class="uil uil-sign-out-alt nav__icon"></i> Logout</a>
            </li class="nav__item">
            {% else %}
            <li class="nav__item">
                <a href="{% url 'account_login' %}" class="nav__link">
                    <i class="uil uil-sign-in-alt nav__icon"></i> Login</a>
            </li class="nav__item">
            {% endif %}
          </ul>
        
        </div>
      </nav>
    </header>
    <main class="main" id="main">
        {% block content %}
        {% endblock content %}
    <main>
    <!-- ================ FOOTER ================ -->
    <footer class="footer">
      <div class="footer__bg">
        <div class="footer__container container grid">
          <div>
            <h1 class="footer__title">E-Commerce Store</h1>
            <span class="footer__subtitle">Online Store</span>
          </div>

          <ul class="footer__link">
            <li>
              <a href="#" class="footer__link">Products</a>
            </li>
            <li>
              <a href="#" class="footer__link"></a>
            </li>
            <li>
              <a href="#" class="footer__link">Contact</a>
            </li>
          </ul>

          <div class="footer__socials">
            <a href="#" target="_blank"  class="footer__social">
              <i class="uil uil-facebook-f"></i>
            </a>

            <a href="#" target="_blank"  class="footer__social">
              <i class="uil uil-instagram"></i>
            </a>

            <a href="#" target="_blank"  class="footer__social">
              <i class="uil uil-twitter-alt"></i>
            </a>
          </div>
        </div>

        <p class="footer__copy">&#169; E-Commerce Store. All right reserved</p>
      </div>
    </footer>
    <script src="" async defer></script>
    </body>
</html>